* {
  border-spacing: 0;
  background-color: lightslategray;
  font-family: monospace, serif;
}

h1 {
color: lavender;
text-align: center;
font-size: 40px;
text-shadow: 2px 2px black;
}

h2 {
border: double 3px lavender;
width: 50%;
text-align: center;
margin: 20px auto
5px auto;
}

table {
  width: 100%;
}

th {
  border: 3px solid;
  font-weight: 600;
  height: 25px;
}

td {
  border: 1px solid;
}
